.topside {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "info";
}

.topside_title {
    grid-area: header;
}

.topside_info {
    grid-area: info;
}

@media (min-width: 600px) and (orientation: landscape) {
    .topside {
        width: 300px;
        height: 100vh;
        grid-template-areas: "header" " . " "info";
    }
}