.container {
    margin: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.image__container {
    position: relative;
    width: 100%;
}

.image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

.card__image {
    max-width: 100%;
    display: block;
    object-fit: contain;
}

.card {
    font-family: 'Quicksand', sans-serif;
    color: #0a0afa;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ece9e6;
    background: linear-gradient(to right, #ffffff, #ece9e6);
}

.card__header {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;

}

.card__body {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
}

.card_info_header {
    display: inline-block;
    max-width: 100%;
    height: 1.5rem;
    /* .card__body h4 { font-size: 1.5rem*/
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
}

.card_info_body {
    display: inline-block;
    max-width: 100%;
    height: 3.3rem;
    overflow: clip;
    text-overflow: ellipsis;
}

.tag {
    text-align: left;
    align-self: flex-start;
    padding: 0.25em 0.75em;
    border-radius: 1em;
    font-size: 0.75rem;
}

.tag-blue {
    background: #56ccf2;
    background: linear-gradient(to bottom, #2f80ed, #56ccf2);
    color: #fafafa;
}

.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}